
header {
    padding: 30px 0px;
    background: #343a40;
    color: #fff;
    text-align: center;
}

header h1 {
  color: #fff;
  font-weight: 800;
}

.App {
  background-color: #ccc;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 100px;
  font-size: calc(10px + 2vmin);
  color: white;
}

.spinner {
  margin-top: 100px;
}
.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;

}

.ant-card.bookCard {
  background-color: beige;
}
.bookCard {
  width: 320px;
}
.thumbnail {
  position: absolute;
  top: -20px;
  margin: 10px 10px 10px 10px;
  max-width: 100px;
  height: auto;
  box-shadow: 0 10px 6px -6px #777 
}
.cardContent {
  margin-left: 120px;
}

@media (max-width: 375px){
  .bookCard {
    width: 280px;
  }
  .thumbnail {
    position: inherit
  }
  .cardContent {
  margin-top: -160px;
}
}